@import url("https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html {
    /* a cada 1rem vai ser 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body,
html {
    font-family: 'Asap', sans-serif, Helvetica;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #FFF;
    color: #666666;
}

img {
    width: 100%;
    max-width: 100%;
}

.flex-container-fluido {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-10 {
    flex: 1 1 10%;
    padding: 2%;
}

.flex-20 {
    flex: 1 1 20%;
    padding: 2%;
}

.flex-30 {
    flex: 1 1 30%;
    padding: 2%;
}

.flex-40 {
    flex: 1 1 40%;
    padding: 2%;
}

.flex-50 {
    flex: 1 1 50%;
    padding: 2%;
}

.flex-60 {
    flex: 1 1 60%;
    padding: 2%;
}

.flex-70 {
    flex: 1 1 70%;
    padding: 2%;
}

.font-2 {
    font-family: 'Comfortaa', cursive, Helvetica, sans-serif !important;
}

.font-just {
    text-align: justify;
}

.cor-azul1 {
    color: #2e88be;
}

.cor-fundo-cinza {
    background-color: #f3f4f4;
}


.cor-fundo-azul2 {
    background: #28406f;
}

.cor-fundo-verde {
    background: #bed732;
}

.cor-fundo-amarelo {
    background: #f0e219;
}

.cor-fundo-laranja {
    background: #dfad39;
}

.menu1 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    align-items: center;
}

.menu1 .container {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.menu1 img {
    width: 240px;
    padding: 40px 15px;
}

.redes {
    display: flex;
}

.menu2 {
    display: flex;
}

.menu2>a {
    font-size: 2rem;
    font-weight: 500;
    padding: 22px;
    color: #FFF !important;
}

.social {
    color: #FFF;
    background-color: #bed732;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.social-b {
    color: #28406f !important;
    background-color: #fff !important;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.social-b :hover {
    border: 2px solid #2e88be;
    color: #FFF;
    background-color: #2e88be;
}

.button__icon {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-self: center;
    fill: currentColor;
}


.social :hover {
    background-color: #789329;
}

.conheca {
    /* border: solid 1px red; */
    padding: 70px;
}

.conheca>div {
    flex: 1 1 200px;
    margin: 60px;
}


.conheca-text {
    font: normal 18px / 23px "Asap";
    word-spacing: normal;
}

.diferenciais a {
    color: inherit;
    font-weight: 500;
}

#quadrados-coloridos img {
    width: 150px;
    height: 150px;
}

.sacola {
    display: flex;
    margin: 20px;
}

.grid-bolas {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card-centro {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.boca-do-povo {
    padding: 30px;
}

.icon_redondo {
    width: 50px;
    height: 50px;
}

.cards-povo {
    background-color: #f3f4f4;
    flex: 1 1 40%;
    margin: 20px;
    padding: 20px;
}

.segmentos {
    justify-content: space-around !important;
}

.segmentos>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segmentos div img {
    width: 120px;
    height: 120px;
}

.segmentos div span {
    font-size: 2rem;
    color: #28406f;
    padding: 20px;
    margin-bottom: 30px;
}

.aviso-laranja {
    background-color: #f2ddac;
}

.como-chegar {
    padding: 40px;
}

.chegar-flex {
    display: flex;
    align-items: end;
}

.chegar-flex>img {
    margin-right: 20px;
}

.como-chegar-botoes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.tablink {
    background-color: #28406f;
    color: #FFF;
    flex: 1 1 auto;
    display: block;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.tablink:hover {
    background-color: #2e88be !important;
}

.como-chegar-cinsa {
    background-color: #f3f4f4;
}

.como-chegar-cinsa>div {
    text-align: justify;
    flex: 1 1 45%;
    padding: 60px;
    font-size: 1.8rem;
}

.botao-azul {
    background-color: #28406f;
    color: #FFF;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.botao-azul:hover {
    background-color: #2e88be;
}

.caixa-aviso {
    font-family: 'Comfortaa';
    padding: 80px;
    color: #FFF;
    justify-content: center;
    align-content: center;
    font-size: 5rem;
    height: 220px;
    background-image: url("arquivos/feirinha-da-concordia-grafismos-1.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
}


.formulario {
    background-color: #FFF;
    /* padding: 60px 30px; */
}

.formulario .esquerda {
    font-size: 1.8rem;
    text-align: justify;
    /* padding: 40px; */
}

.formulario .esquerda div {
    margin-bottom: 15px;
}

.formulario .direita {
    background-color: #f3f4f4;
    /* padding: 40px; */
}

.formulario .direita input,
textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d3d3;
}

.oportunidade {
    background-color: #f3f4f4;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr 2fr);
}

.oportunidade img {
    max-width: 100%;
}

.oportunidade .esquerda {
    padding: 30px;
}

#melhor-opcao div img {
    width: 80px !important;
    height: 80px !important;
}

.editwhats {
    width: 80px;
    height: 80px;

    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99999;
    margin-right: 90%;
}

a[href="#top"] {
    background-color: rgba(0, 0, 0, 0.24);
    position: fixed;
    top: 92%;
    right: 10px;
    width: 44px;
    height: 44px;
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='44px' height='44px' viewBox='0 0 44 44' enable-background='new 0 0 44 44' xml:space='preserve'%3E%3Cpath fill='white' d='M29.121,19.55l-6.29-6.196c-0.025-0.025-0.053-0.049-0.082-0.071c-0.012-0.011-0.024-0.02-0.038-0.03c-0.016-0.011-0.031-0.024-0.048-0.034c-0.017-0.011-0.032-0.02-0.048-0.03c-0.015-0.009-0.029-0.018-0.044-0.025c-0.017-0.009-0.034-0.017-0.051-0.024c-0.016-0.008-0.031-0.015-0.047-0.022c-0.016-0.006-0.033-0.012-0.049-0.018c-0.018-0.005-0.035-0.014-0.053-0.019c-0.017-0.005-0.034-0.008-0.05-0.013c-0.018-0.005-0.036-0.009-0.054-0.013c-0.02-0.003-0.039-0.006-0.059-0.008c-0.016-0.003-0.032-0.005-0.049-0.007c-0.073-0.007-0.146-0.007-0.218,0c-0.017,0.002-0.033,0.005-0.05,0.008c-0.02,0.002-0.038,0.005-0.058,0.009c-0.019,0.003-0.037,0.009-0.055,0.013c-0.016,0.005-0.033,0.008-0.05,0.013c-0.017,0.005-0.035,0.012-0.052,0.018c-0.017,0.006-0.033,0.012-0.049,0.019c-0.017,0.006-0.032,0.014-0.048,0.021c-0.017,0.008-0.034,0.016-0.051,0.024c-0.015,0.008-0.029,0.018-0.044,0.026c-0.015,0.008-0.031,0.018-0.048,0.029c-0.016,0.01-0.031,0.022-0.047,0.034c-0.014,0.01-0.027,0.019-0.04,0.028c-0.042,0.035-0.08,0.073-0.117,0.113c-0.013,0.011-0.026,0.021-0.037,0.033l-6.313,6.219c-0.433,0.428-0.434,1.12-0.003,1.544c0.432,0.426,1.131,0.424,1.564-0.002l4.495-4.426l-0.023,14.11c-0.001,0.603,0.493,1.092,1.104,1.09s1.107-0.49,1.109-1.095l0.023-14.108l4.403,4.334c0.432,0.426,1.133,0.424,1.565-0.003S29.553,19.975,29.121,19.55'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 800;

    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

a[href="#top"]:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-cookies.hide {
    display: none !important;
}

.box-cookies {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    z-index: 998;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-cookies .msg-cookies,
.box-cookies .btn-cookies {
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 18px;
}

.box-cookies .btn-cookies {
    background: #1e88e5;
    cursor: pointer;
    align-self: normal;
}

@media (max-width: 768px) {


    .flex-10,
    .flex-20,
    .flex-30,
    .flex-40,
    .flex-50,
    .flex-60,
    .flex-70 {
        flex: 100%;
    }

    .conheca {
        padding: 5px;
    }

    .conheca>div {
        margin: 10px;
    }

    .flex-container {
        padding: 10px;
    }

    .box-cookies {
        flex-direction: column;
    }

    .cosumidora {
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .um,
    .dois,
    .tres {
        background-color: #1a4170;
        height: 3px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 35px;
        height: 30px;
        margin-right: 20px;
    }

    /* :fullscreen */

    header {
        background-color: #FFF;
    }

    header.on {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    header.on .menu1 .menu-toggle .um {
        transform: rotate(45deg) translate(7px, 6px);
    }

    header.on .menu1 .menu-toggle .dois {
        opacity: 0;
    }

    header.on .menu1 .menu-toggle .tres {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    header.on .menu2 {
        left: 0px;
    }

    .menu1 {
        justify-content: space-between;
    }


    .menu1 img {
        padding: 10px;
        margin-left: 0;
    }

    .menu1 .container {
        display: none;
    }

    .menu2 {
        position: absolute;
        display: flex;
        left: -250px;
        height: 100vh;
        width: 250px;
        flex-direction: column;
        transition-duration: 0.5s;
    }

    .footer1 {
        padding: 20px !important;
    }

    .footer1>div {
        margin-bottom: 20px;
        padding: 0px !important;
        flex: 1 1 100% !important;
        /* flex: 0 1 25%; */
        /* padding: 50px; */
    }
}

@media (max-width: 550px) {
    html {
        font-size: 50%;
    }

    .como-chegar-cinsa>div {
        padding: 15px;
    }

    .sacola-container {
        padding: 5px;
    }

    .fotos-lista img {
        width: 100%;
    }
}